page-ordersuccess {

    
    .content_body{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 30%;
    }
    .inline_content{
        width: 75%;
        height: 80%;
        background: #E8E8E8;
        text-align: center;
    }

}
